.class-student {
  position: relative;
  top:50px;
  margin: 100px 0px 100px;
.header{
 background-color:#E9EAEC;
 width: 100%;
 min-height: 80px;
 border-radius: 20px;

 .header-info{
  background-color: white;
  float: left;
  margin:3% 1%;
  padding:0px 10px;
  height: 60px;

  span {
      color:#37B673;
  }

  p {
      font-size:18px;
  }
 }
}


// nav {
//   margin-bottom: 100px ;
// }

form {
  div:nth-of-type(1){
   background-color: #D3F9E5;
     button svg {
         color:#37B673;
      }
     button::after {
         display: none;
      }
  }
  svg {
      margin-bottom: 3px ;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px ;
  z-index: 1;
  border-radius: 10px;
  ul {
      padding:0px ;
      list-style: none;

        li {
          height:25px;
          margin: 5px;
          padding:1px 4px;

         a {
          text-decoration:none;
          color:black;

         }

      }

  }
}
.active {
  color: #37B673;
  border-bottom:2px solid #37B673;
 }
.dropdown:hover .dropdown-content {
  display: block;
}
}

@media(max-width: 992px){
.collapse:not(.show){
  display: inline;
}



}

 
   .main-class-navbar-ul {
    li {
     
        @media (max-width: 767.98px) {
        .nav-link {
        font-size: 80% ;

        svg{
          display: none;
        }
      }
    
    } 
   }
  
}
// @media(max-width:500px){
// .main-class-navbar-ul li a{
//   font-size: 50%;
// }
// .main-class-navbar-ul {
//   display: flex;
//   justify-content: space-between;
//   width: 30%;
//   flex-direction: row;

// }

.class-student .main-class-navbar {
   margin-bottom: 0px !important;
}
.class-student .form-inline{
display: flex;
justify-content: center;

}
// .class-student .form-inline input{
// margin-bottom:20px  ;
// }

 
//  svg {
//   display: none;
//  }