 h6{
     margin:20px auto ;
     max-width: 100px;
     text-align: center;
     color: #a39999;
 }

 h6:before {
   content:"";
   display: block;
   width: 150px;
   height: 2px;
   background:  #e1dfdf;
   position: absolute;
   left: 0px;
   top:5%; 
   z-index: 2 ;
 }
 h6:after{
    content:"";
    display: block;
    width: 150px;
    height: 2px;
    background:  #e1dfdf;
    position: absolute;
    right: 0px;
    top:5%; 
     z-index: 2 ;
 }
 span{
    background: #fff;
 }
 .goSign{
    color:#37B673
}
.orstyle{
    background-color:#F9F9F9;
     height:20px;
     width:20px;
     font-size: 10px ; 
     padding:5px 11px ;
     border-radius:50%;
}
 @media (max-width: 575.98px) { 
    h6:before { 
        width: 100px;
    }
    h6:after{
        width: 100px;
    }
  }
  .logoImg{
     display: none;
}
  @media (max-width: 1199.98px) { 
    .fixedbackground{
        display: flex;
        z-index: -10;
        opacity: 1;
    }  
    
.caroSlider{
    display: none;
}
  .logoImg{
    display: block;
}
}