<section  >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="studentsIcons col-xl-12">
        
        <a href=""> 
         <div class="studentProfileIcon text-center" > 
            <img  src="../../../../assets/images/home.png">
            <p class="text-center">Mohamed Farag</p>
          </div>
        </a>
        <a href=""> 
          <div class="studentProfileIcon text-center" > 
             <img  src="../../../../assets/images/cat1.jpeg">
             <p class="text-center">Ahmed Mostafa</p>
           </div>
         </a>
         <a href=""> 
          <div class="studentProfileIcon text-center" > 
             <img  src="../../../../assets/images/cat2.jpeg">
             <p class="text-center">Wael Elbialy</p>
           </div>
         </a>
      
         <!-- <div class="card" style="border-radius: 15px;">
          
        <h1 class="card-header text-center  mb-4  ">Apply for a job</h1>
          <div class="card-body">
            
            <div class="row justify-content-center pt-4 pb-3">
                <div class="col-md-8">
                  <label> Full name</label>
                  <input type="text" class="form-control form-control-lg" />
                 </div>
            </div>
 

            <div class="row justify-content-center py-3">
            
              <div class="col-md-8">
                  <label>Email address</label>
                <input type="email" class="form-control form-control-lg" placeholder="example@example.com" />

              </div>
            </div>

         

            <div class="px-5 py-4 text-center">
              <button type="submit" class="btn btn-primary btn-lg">Send application</button>
            </div>

          </div>
        </div> -->

      </div>
    </div>
  </div>
</section>
