@media print {
    .weekly-schedule{
        img {
            height:auto;
            width:25%;
        }

        p{
           font-size:32px ;
        }
        
    }
   
  }

  button{
    background-color: white;
    color:black;
    box-shadow: 2px 6px #888888;
   }