<div class="error-wrapper">
    <div class="container">
      <div class="error-heading">
        <h2 class="headline font-danger">404</h2>
      </div>
      <div class="col-md-8 offset-md-2">
        <p class="sub-content">الصفحة التي تحاول الوصول إليها غير متوفرة حاليًا. قد يكون هذا بسبب عدم وجود الصفحة أو نقلها.</p>
      </div>
      <div><a class="btn btn-danger-gradien btn-lg" [routerLink]="['/home']" href="javascript:void(0)">العودة إلى الصفحة الرئيسية</a></div>
    </div>
  </div>