<section>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-75">
        <a class="my-5" (click)="back()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-left-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
            />
          </svg>
          Back
        </a>
        <div class="col-xl-12">
          <div class="card">
            <h4 class="card-header text-left">Edit a Classroom</h4>
            <div class="card-body">
              <form [formGroup]="form" novalidate>
                <div   class="col-md-12">
                  <div class="form-group row justify-content-start py-2">
                    <label for="">About Class</label>
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Classroom Name"
                      formControlName="name"
                    />
                    <!-- <span class="text-danger" *ngIf="f_name_error" >*This data is required.</span>  -->


                  </div>
                </div>
                <!-- <div *ngIf="form.controls['first_name'].invalid && (form.controls['first_name'].dirty || form.controls['first_name'].touched)" class="alert alert-danger">
                      <div *ngIf="form.controls['first_name'].errors?.['required']">
                      Name is required.
                    </div>
                  </div> -->

                <div class="form-group row justify-content-start py-1">
                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Classroom Code"
                      formControlName="code"
                    />
                 <!-- <span class="text-danger" *ngIf="email_error">*This data is required.</span> -->
                  </div>
                </div>

                <div class="form-group row justify-content-start py-1">
                    <label for="">Course</label>
                  <div formArrayName="courses" class="col-md-12" *ngFor="let item of getCourses.controls; let i = index">
                    <input
                      type="text"
                      class="form-control form-control-lg mt-1"
                      placeholder="Course Name"
                      [formControlName]="i"
                      />
                   <!-- <span class="text-danger" *ngIf="email_error">*This data is required.</span> -->
                  </div>
                </div>
                <div class="form-group row justify-content-start py-1">
                  <div class="py-4">
                    <button
                      (click)="addCourse()"
                      class="col-md-12 btn btn-outline-success btn-lg"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-plus-square-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                        />
                      </svg>
                      Add Course
                    </button>
                  </div>
                </div>
                <div class="form-group row justify-content-start py-1">
                  <label for="">Date Of Class</label>
                  <div class="col-md-12 d-flex justify-content-around">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Choose a date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="start_date"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Choose a date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker2"
                        formControlName="end_date"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker2></mat-datepicker>
                    </mat-form-field>
                    <!-- <span class="text-danger" *ngIf="email_error">*This data is required.</span> -->
                  </div>
                </div>

                <div class="form-group row justify-content-start py-1">
                  <div
                    class="col-md-12 d-flex justify-content-around p-2 colorContainer"
                  >
                    <span
                      *ngFor="let color of colors"
                      class="colorContainer__circle"
                      [style.background]="color.hexcode"
                      (click)="setColor(color.id)"
                    ></span>
                    <!-- <span class="text-danger" *ngIf="gender_error" >*This data is required.</span> -->
                  </div>
                </div>

                <div class="py-4">
                  <button
                    type="submit"
                    class="col-md-12 btn btn-primary btn-lg"
                    (click)="onSubmit()"
                  >
                    Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
