.card {
  border-radius: 15px;
  .card-header{
    background-color: inherit;
  }
  .card-body {
    input::placeholder {
      font-size: 12px;
    }
    select {
      // color: #fafafa;
      font-size: 12px;
    }

    input,
    select {
      // background-color: #fafafa;
      color: grey;
    }
    option {
      background-color: white;
      font-size: 12px;
      color: grey;
    }
    .infoButtons {
      .active {
        border-color: #37b673;
        color: #37b673;
      }
      button {
        border-color: #b1b1b1;
        color: #b1b1b1;
      }

    }
  }
}

.colorContainer{
    border:1px solid #E9EAEC;
    background-color: #FAFAFA;
    border-radius: 10px;
&__circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    :focus{
        content: "hhhhh";
    }
  }
}

.btn-custom{
  border: 1px solid green;
  &:hover{
    background-color: green;
    color: white !important;
  }
}

::ng-deep.mat-form-field-underline{
  width: 0px;
}