.demo-inline-calendar-card {
    width:100%;
  }

  .btn {
    height: 30px;
  }
  h2{
    span {
      color :#37B673;
      font-size: 25px;
    }
  }
  .schedule{
    background-color: white;
    height:90px;
   border-left: 10px solid #37B673;
    p , div {
      margin: auto;
      div {
        margin: auto;
      }
    }
  }

  .studentsIcons{
     
    @media (min-width: 991.98px) { 
      display: flex;
     }
  @media (max-width: 1199.98px) { 
    display: block;
   }
  }