.demo-inline-calendar-card {
    width:100%;
  }

  .btn {
    height: 30px;
  }
  h2{
    span {
      color :#37B673;
    }
  }
  .schedule{
    background-color: white;
    height:90px;
   border-left: 10px solid #37B673;
    p , div {
      margin: auto;
      div {
        margin: auto;
      }
    }
  }