 
  <section>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
       <h2 class="my-4"> Today , <span> {{currentDate}} </span></h2>
       
       <div class="studentsIcons   col-xl-12">
          <div class="col-xl-7 col-12 col-md-12 col-sm-12 col-12 d-block"  >
              <div class="schedule row mb-3" *ngFor="let lesson of lessons">
                <div class="col-xl-12 d-flex">
                    <p class="col-xl-3"> {{lesson.name}} </p>
                    <p class="col-xl-3" > From {{lesson.start_time}} </p>
                    <p class="col-xl-3" > To {{lesson.end_time}} </p>
                    <div class="text-right d-flex col-xl-3  " style="height: 40px;"> 
                        <div style="background-color:#C6EEFA ; margin: -1px 2px; border-radius:50%">  
                         <button class="btn" mat-raised-button  (click)="navigate(lesson.id)" >
                             <svg style="color:#6BB4CB" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                              </svg>
                        </button>
                    </div>
                    <div class="d-flex" style="background-color:#D3F9E5; margin: -1px 2px;border-radius:50%">  
                        <button class="btn" (click)="editLesson(lesson)"> 
                            <svg style="color:#37B673" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg> 
                        </button>
                    </div> 
                    <div  class=" d-flex" style="background-color:#FFD6D6 ; margin: -1px 2px;border-radius:50%">  
                        <button class="btn" (click)="deleteLesson(lesson.id)">
                            <svg style="color:#FF0000" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                        </button>
                    </div>
                </div>
                </div>
              </div>

               
             </div>
            <div class="col-xl-5 col-md-12 col-sm-12 col-12">
                <mat-card class="demo-inline-calendar-card"  >
                    <mat-calendar [(selected)]="selected" [startAt]="startDate" (selectedChange)="changess()"></mat-calendar>
                </mat-card>
                  <p>Selected date: {{selected}}</p> 
           </div>
         </div>
        </div>
    </div>
  </section>
  