<section >
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-xl-12">
           <div class="card">
             <h4 class="card-header text-center ">{{student_name}}</h4>
            <div class="card-body"> 
              <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>  
               <div class="infoButtons rowpt-4 pb-3">
                <div class="row justify-content-center" >  
                  <div class="col-xl-12 d-flex justify-content-center" style=" border: 1px solid;padding: 5px; box-shadow: 5px 5px #888888;">  
                    <div class="col-md-3 col-sm-4 my-1" > 
                      <button type="button" class="btn btn-lg active" #positive id="positive" (click)="select(positive.id);filter(0)" [ngClass]="{active: isActive(positive.id)}"> Positive </button>
                    </div> 
                    <div class="col-md-3 col-sm-4 my-1"> 
                      <button type="button" class="btn btn-lg" #negative id="negative" (click)="select(negative.id);filter(1)" [ngClass]="{active: isActive(negative.id)}"> Negative </button>
                   </div>
                   <div class="col-md-3 col-sm-4 my-1"> 
                    <button type="button" class="btn btn-lg" #records id="records" (click)="select(records.id);filter(2)" [ngClass]="{active: isActive(records.id)}"> Records </button>
                 </div>
                </div>
                  </div>
               </div>
               
             <div *ngIf="showPositiveInfo">  
              <div class="form-group row justify-content-center py-2">
                  <div class="col-md-8" *ngFor="let positive of positives; let i=index ">
                    <!-- <mat-checkbox class="example-margin"  [value]="positive" (change)="addBehavior($event)">{{positive}}</mat-checkbox> -->
                    <label>  
                         <input type="checkbox" [checked]="positive.checked" [name]="positive" (change)="addBehavior($event,i)" [value]="positive" > {{positive}}  
                    </label>
                    </div>
                 </div>
             </div>

            <div *ngIf="showNegativeInfo">  
              <div class="form-group row justify-content-center py-1">
                <div class="col-md-8" *ngFor="let negative of negatives ; let i=index ">
                  <mat-checkbox class="example-margin" [value]="negative" (click)="addBehavior($event,i)">{{negative}}</mat-checkbox>
                 </div>
             </div>
           </div>
         
           <div *ngIf="showRecordInfo">  
            <div class="form-group row justify-content-center py-1">
              <div class="col-md-8" *ngFor="let allbehavior of allBehaviors">
                <mat-checkbox class="example-margin">{{allbehavior.name}} </mat-checkbox>
                </div>
           </div>
         </div>
            </form>
            </div>
          </div>
  
        </div> 
      </div>
    </div>
  </section>
