<div class="container-fluid"> 
    <div class="row">
  
     
    <div class="col-xl-5 p-0">
        <div class="login-card">
     
          <div> 
             <div class="login-main">
             <div class="text-center my-4 logoImg">  <img class="img-fluid " src="../../../../assets/images/logo/changepassword.png" alt="looginpage" height="100px" width="100px">  </div>
              <form class="theme-form" [formGroup]="form"  (ngSubmit)="submit()">
              <div class="heading my-4"> 
                <h4 class="text-center my-2">Change Password?</h4>
               
              </div> 
             
              <div class="form-group text-muted text-left" >
                <label class="col-form-label">New Password</label>
                
                <input class="form-control text-left" type="password" [type]="togglePassword ? 'text' : 'password'"  required="" placeholder="*********" formControlName="new_password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
               
                <div class="show-hide text-left"><span (click)="togglePassword = !togglePassword" [ngClass]="{'show': !togglePassword}"></span></div>
                <div *ngIf="submitted && f.password.errors" class="errors-container mt-2">
                  <p class="error-element" *ngIf="f.password.errors.required">*this is required field  </p>
               </div>
              </div>
              <div class="form-group text-muted text-left" >
                <label class="col-form-label">Confirm New Password</label>
                
                <input class="form-control text-left" type="password" [type]="togglePassword2 ? 'text' : 'password'"  required="" placeholder="*********" formControlName="confirm_new_password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
                <div class="show-hide text-left"><span (click)="togglePassword2 = !togglePassword2" [ngClass]="{'show': !togglePassword2}"></span></div>
                <div *ngIf="submitted && f.confirm_password.errors" class="errors-container mt-2">
                  <p class="error-element" *ngIf="f.confirm_password.errors.required">*this is required field  </p>
               </div>
              </div>
                 
              
                <div class="form-group my-5"  >
                   <button class="btn btn-primary btn-block my-3" type="submit"> Send </button> 
                </div>
             
               
              </form>
            </div>

          
          </div>
        </div>
      </div>
   
      <div class= "col-xl-7 b-center bg-size caroSlider"> 
      <carousel 
      style="height:100% ; z-index:-1000"
      [cellsToShow]="1"
      [counter]="false"
      [dots]="true"
      [loop]="true"
      [lightDOM]="true"
      [autoplay]="true"
      [autoplayInterval]="2000"
      [pauseOnHover]="true"
      [transitionDuration]="2000"
      [transitionTimingFunction]="'ease-in-out'"
      [arrows]="false"
      [arrowsOutside]="false"
      [arrowsTheme]="'light'">
      <div class="carousel-cell" *ngFor="let project of imageSources">
          <a class="projectImgContainer" >
               <div style="display:flex;justify-content: center;"><img [src]="project.path" class="img-fluid rightMokap" height="auto" width="100%" style="object-fit:cover; position: absolute;"></div>
            </a>
      </div>
     </carousel>
      </div>
      <!-- background-image: url(/assets/images/logo/login.png); background-size: cover; background-position: center center; display: block;  -->

  </div>
