.head{
    &__left{
        &__name{
            padding : 17px 70px;
            background-color: #FFFFFF;
            border-left: 5px solid #6BB4CB;
            border-radius: 7px;

        }
        &__date{
            padding : 17px 70px;
            background-color: #FFFFFF;
            border-left: 5px solid #6BB4CB;
            border-radius: 7px;
        }
    }
}



