.head {
  &__left {
    &__name {
      padding: 17px 0px;
      background-color: #ffffff;
      border-left: 5px solid #6bb4cb;
      border-radius: 7px;
      width: 50%;
      text-align: center;
      font-size: 0.6rem;
    }
    &__date {
      padding: 17px 0px;
      background-color: #ffffff;
      border-left: 5px solid #6bb4cb;
      border-radius: 7px;
      width: 50%;
      text-align: center;
      font-size: 0.6rem;
    }
  }
}
.cases {
  span {
    height: max-content;
    padding: 6px 0px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    border-radius: 8px;
    max-width: 100px;
    p {
      margin-bottom: 0;
      filter: brightness(0.5);
    }
    h3 {
      filter: brightness(0.5);
    }
  }
}

.students {
  gap: 10px;
  flex-wrap: wrap;
  &__student {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 7px;
    max-width: 14%;
    position: relative;
    overflow: hidden;
    // max-width: 16%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: -2px 2px 11px 1px rgba(199, 194, 194, 0.75);
    -webkit-box-shadow: -2px 2px 11px 1px rgba(199, 194, 194, 0.75);
    -moz-box-shadow: -2px 2px 11px 1px rgba(199, 194, 194, 0.75);
    img {
      border-radius: 50%;
    }
    &__footer {
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      // background: #888;
    }
  }
}

.cases--students {
}
