<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="studentsIcons col-xl-12">
        <!-- <a *ngFor="let student of classStudents"> 
           <div class="studentProfileIcon text-center" > 
              <img src="{{student.imagePath}}">
              <p class="text-center">{{student.full_name}}</p>
            </div>
          </a>
           -->
        <h2>ATTENDANCE</h2>
        <div class="d-flex justify-content-between row">
          <div class="col-md-6 col-sm-12 d-flex justify-content-between">
            <div class="head__left__name mr-2 col-md-6 col-sm-12">
              <span>
                {{ lessonData.name }}
              </span>
            </div>
            <div class="head__left__date col-md-6 col-sm-12">
              <span>
                {{ lessonData.date }} | {{ lessonData.start_time }}
                {{ lessonData.end_time }}
              </span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 d-flex justify-content-end">
            <button class="btn btn-light">
              <i class="fas fa-print"></i> Print
            </button>
            <button class="btn btn-success ml-2">
              <i class="fas fa-cog"></i> settings
            </button>
          </div>
        </div>
        <!-- <div class="card" style="border-radius: 15px;">
            
          <h1 class="card-header text-center  mb-4  ">Apply for a job</h1>
            <div class="card-body">
              
              <div class="row justify-content-center pt-4 pb-3">
                  <div class="col-md-8">
                    <label> Full name</label>
                    <input type="text" class="form-control form-control-lg" />
                   </div>
              </div>
   
  
              <div class="row justify-content-center py-3">
              
                <div class="col-md-8">
                    <label>Email address</label>
                  <input type="email" class="form-control form-control-lg" placeholder="example@example.com" />
  
                </div>
              </div>
  
           
  
              <div class="px-5 py-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Send application</button>
              </div>
  
            </div>
          </div> -->
      </div>
    </div>
    <div class="row cases mt-5">
      <span
        class="col"
        *ngFor="let case of allAttendanceCases"
        [style.background]="case.color"
        [style.color]="case.color"
        ><h3>40</h3>
        <p>{{ case.name }}</p>
      </span>
    </div>
    <div class="row students mt-5">
      <div
        class="col students__student"
        *ngFor="let student of allStudentAttendance"
        (click)="addStudentAttendance(student)"
      >
        <img [src]="student.imagePath" alt="" class="m-auto w-50" />
      {{student.attendance_case?.color}}
      <p class="text-center">{{ student.full_name }}  </p>
     
   
      </div>
    </div>
  </div>
</section>
