.home-card{
    width: 50%;
    height: 50%;
    margin: auto;
}
.card-body{
    gap: 20px;
    h3{
        color: #B1B1B1;
        font-weight: 400;
    }
}

.custom--container{
    gap: 20px;
}
.head{
    &__right{
        button{
            background-color: #37B673;
            color: white;

        }
    }
    margin-top: 40px;
}

.card--content{
    overflow: hidden;
    border-radius: 5%;
    max-width: 15%;
    background-color: #ffff;
    gap: 10px;
    box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.47);
-webkit-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.47);
@media(max-width : 700px){
    max-width: 25%;
}
    &__header{
        height: 13px;
    }
    &__button{
            &__drop{
                border: none;
                padding: 7px;
                border-radius: 100%;
                    width: 30px;
                    display: flex;
                    justify-content: center;

            }
        }
}

a {
    text-decoration: none;
    color:black;
}

.dropdown {
    position: relative;
    display: inline-block;

 }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px ;
    z-index: 1;
    border-radius: 10px;
    ul {
        padding:0px ;

          li {
            height:25px;
            margin: 5px;
            padding:1px 4px;

           a {
            text-decoration:none;
            color:black;

           }

        }

    }
  }
.home_classs{
  padding: 50px 0;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-wrapper{
  padding: 0;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px;
  padding: 0em 0.75em !important;

}

