.editMain{
  padding: 100px 0px;
}
.card-body{
  padding: 20px 0px !important;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex:hover,
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
    background-color:rgb(248, 248, 248)!important;
    padding-top:5px;
    border-radius:10px;


}
:host ::ng-deep .mb-3.form-group .mat-form-field-appearance-outline .mat-form-field-flex:hover,
:host ::ng-deep .mb-3.form-group .mat-form-field-appearance-outline .mat-form-field-flex{
    background-color:rgb(255, 255, 255)!important;
    padding-top:5px;
    border-radius:10px;

}
:host ::ng-deep div.mat-form-field-outline-start{
  border-color: 0 !important;
  border-width: 0px !important;
}

:host ::ng-deep .mat-form-field-outline-gap{
  border-color: 0 !important;
  border-width: 0px !important;
}

:host ::ng-deep .mat-form-field-outline-end{
  border-color: 0 !important;
  border-width: 0px !important;
}
:host ::ng-deep .mat-input-element.mat-form-field-autofill-control.ng-tns-c104-2 .ng-valid {
background: none !important;
}





::ng-deep .mat-select-panel .mat-option {
  text-align: center;

}
.btn-danger{
  background: none  !important;
  border: none;
color: red;
text-align: center;
}
