<div class="container-fluid"> 
    <div class="row">
  
     
    <div class="col-xl-5 p-0">
        <div class="login-card">
     
          <div> 
             <div class="login-main">
             <div class="text-center my-4 logoImg">  <img class="img-fluid " src="../../../../assets/images/logo/forgetpass.png" alt="looginpage" height="100px" width="100px">  </div>
              <form class="theme-form" [formGroup]="form" >
              <div class="heading my-4"> 
                <h4 class="text-center my-2">Forgot Password?</h4>
                <p class="text-center teacherPackage">Enter your phone we will send you a code
                    To reset the password </p>
              </div> 
             
                <div class="form-group text-muted text-left">
                   
                  <div class="countryFlag text-left " > 
                    <ngx-flag-picker (click)="changeLang()" [showFlags]="true" [showLabels]=false [selectedCountryCode]="selectedCountryCode" [countryCodes]="countryCodes" (changedCountryCode)="changeSelectedCountryCode($event)">
                    </ngx-flag-picker>
                  </div>
                  <label class="col-form-label ">Mobile number</label>
                  <input class="form-control phoneCountry " dir="ltr" type="text" required=""  formControlName="email_or_phone" [ngClass]="{ 'is-invalid': submitted && f.email_or_phone.errors }"  >  
                  <div *ngIf="submitted && f.email_or_phone.errors" class="errors-container mt-2">
                    <p class="error-element" *ngIf="f.email_or_phone.errors.required"> *this is required field </p>
                 </div>
                </div>
                 
              
                <div class="form-group my-5"  >
                   <button class="btn btn-primary btn-block my-3" type="submit" (click)="sendCode()"> Send </button> 
                </div>
             
               
              </form>
            </div>

          
          </div>
        </div>
      </div>
   
      <div class= "col-xl-7 b-center bg-size caroSlider"> 
      <carousel 
      style="height:100% ; z-index:-1000"
      [cellsToShow]="1"
      [counter]="false"
      [dots]="true"
      [loop]="true"
      [lightDOM]="true"
      [autoplay]="true"
      [autoplayInterval]="2000"
      [pauseOnHover]="true"
      [transitionDuration]="2000"
      [transitionTimingFunction]="'ease-in-out'"
      [arrows]="false"
      [arrowsOutside]="false"
      [arrowsTheme]="'light'">
      <div class="carousel-cell" *ngFor="let project of imageSources">
          <a class="projectImgContainer" >
               <div style="display:flex;justify-content: center;"><img [src]="project.path" class="img-fluid rightMokap" height="auto" width="100%" style="object-fit:cover; position: absolute;"></div>
            </a>
      </div>
     </carousel>
      </div>
      <!-- background-image: url(/assets/images/logo/login.png); background-size: cover; background-position: center center; display: block;  -->
   <div class="col-xl-7 b-center bg-size fixedbackground" style="background-color:#F9F9F9;"><img class="bg-img-cover bg-center" src="../assets/images/login/2.jpg" alt="looginpage" style="display: none;"></div>
    </div>
  </div>
