<div class="header-wrapper row m-0">
    <form class="form-inline search-full" action="javascript:void(0)" method="get">
      <div class="form-group w-100">
        <div class="Typeahead Typeahead--twitterUsers">
          <div class="u-posRelative">
            <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search makin .." name="q" title="" autofocus="" data-original-title="">
            <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close-search"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
          </div>
          <div class="Typeahead-menu"></div>
        </div>
      </div>
    </form>
    <div class="header-logo-wrapper">
      <div class="logo-wrapper"><a href="index.html" ><img class="img-fluid" src="assets/images/logo/logo.png" alt="" ></a></div>
      <div class="toggle-sidebar" checked="checked"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders status_toggle middle sidebar-toggle"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg></div>
    </div>
    <div class="left-header col horizontal-wrapper pl-0">
      <ul class="horizontal-menu">
        <li class="level-menu outside">
            <a class="nav-link" href="javascript:void(0)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"></path></svg>
                <span> أبرز المسارات</span>
            </a>
          <ul class="header-level-menu menu-to-be-close" style="display: none;">
            <!-- <li>
              <a [routerLink]="['/app/users/create']" href="javascript:void(0)">                               
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  <span> إضافة مستخدم</span>
              </a>
          </li>
          <li>
            <a [routerLink]="['/app/ads/create']" href="javascript:void(0)">                               
              <svg _ngcontent-rrj-c89="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon _ngcontent-rrj-c89="" points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                              <span>إضافة إعلان  </span>
            </a>
        </li>
        <li>
          <a [routerLink]="['/app/categories/create-main-categories']" href="javascript:void(0)">                               
            <svg _ngcontent-qhe-c89="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon _ngcontent-qhe-c89="" points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline _ngcontent-qhe-c89="" points="2 17 12 22 22 17"></polyline><polyline _ngcontent-qhe-c89="" points="2 12 12 17 22 12"></polyline></svg>              <span>إضافة فئة</span>
          </a>
      </li>
      <li>
        <a [routerLink]="['/app/countries/create-countries']" href="javascript:void(0)">                               
          <svg _ngcontent-qhe-c89="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle _ngcontent-qhe-c89="" cx="12" cy="12" r="10"></circle><path _ngcontent-qhe-c89="" d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line _ngcontent-qhe-c89="" x1="12" y1="17" x2="12" y2="17"></line></svg>            <span>إضافة دولة</span>
        </a>
    </li> -->
           
          </ul>
        </li>
      </ul>
    </div>
    <div class="nav-right col-8 pull-right right-header p-0">
      <ul class="nav-menus">
       
        
        <li class="profile-nav onhover-dropdown p-0 mr-0">
          <div class="media profile-media"><img class="b-r-10" src="https://secure.gravatar.com/avatar/a552dc12d8811a2a98f133698d23820a?s=160&d=retro&r=pg" width="40" alt="" >
            <!-- <div class="media-body"><span> {{user.data.name}} </span> -->
              <div class="media-body"><span> Admin </span>
              <p class="mb-0 font-roboto">مسؤول <i class="middle fa fa-angle-down"></i></p>
            </div>
          </div>
          <ul class="profile-dropdown onhover-show-div">
            <li><a href="javascript:void(0)" (click)="logOut()" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg><span> خروج</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>