  <!-- tap on top starts-->
  <!-- <div class="tap-top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-up"><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg></div> -->
  <!-- tap on tap ends-->
  <!-- page-wrapper Start-->
  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div class="page-header">
     <!-- <app-navbar></app-navbar> -->
    </div>
    <!-- Page Header Ends                              -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper sidebar-icon">
      <!-- Page Sidebar Start-->
      <div class="sidebar-wrapper">
       <!-- <app-sidebar></app-sidebar> -->
      </div>
      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <div class="container-fluid">
          <div class="page-title">
            <div class="row">
              <div class="col-6">
                <h3 class="animate__animated animate__fadeInTopRight">{{pageTitle}}</h3>
              </div>
              <div class="col-6">
                <ol class="breadcrumb">
                  <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">                                        -->
                    <!-- <svg [routerLink]="['/home']" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></a></li> -->
                  <!-- <li class="breadcrumb-item">الصفحات</li> -->
                  <!-- <li class="breadcrumb-item active">{{pageTitle}}</li> -->
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <!-- <router-outlet></router-outlet> -->
            <router-outlet></router-outlet>   
      </div>
        <!-- Container-fluid Ends-->
      </div>
      <!-- footer start-->
      <footer class="footer">
        <!-- <app-footer></app-footer> -->
      </footer>
    </div>
  </div>
  
