
<div class="container-fluid">
  <div class="row" style="direction: rtl">
    <div
      class="col-xl-6 b-center bg-size"
      style="
        background-image: url(/assets/images/logo/login.png);
        background-size: cover;
        background-position: center center;
        display: block;
      "
    >
      <img
        class="bg-img-cover bg-center"
        src="../assets/images/login/2.jpg"
        alt="looginpage"
        style="display: none"
      />
    </div>
    <div class="col-xl-6 p-0">
      <div class="login-card">
        <div>
          <div class="login-main">
            <div class="text-center my-4 logoImg">
              <img
                class="img-fluid"
                src="../../../../assets/images/logo/verify.png"
                alt="looginpage"
                height="100px"
                width="100px"
              />
            </div>
            <form class="theme-form" [formGroup]="form">
              <div class="heading my-4">
                <h4 class="text-center">Verify your Email</h4>
                <p class="text-center">
                  Enter the code sent to <br />

                  <span *ngIf="this.fromPage == 'signup'">{{ phone }}</span>
                  <span *ngIf="this.fromPage == 'reset'">{{ phone }}</span>
                  <span *ngIf="this.fromPage == 'mail'">{{ mail }}</span>
                </p>
              </div>
              <div class="position-relative">
                <div class="p-2 text-center">
                  <div
                    id="otp"
                    class="inputs d-flex flex-row justify-content-center mt-2"
                  >
                    <ng-otp-input
                      [formCtrl]="this.form.controls['x']"
                      [config]="{ length: 4 }"
                    ></ng-otp-input>
                  </div>
                </div>
              </div>

              <div class="form-group my-4 text-center">
                <p class="text-muted">
                  Resend code in <span> {{ timeLeftMinutes }} </span> secs
                </p>
                <h5 class="recode" href="" (click)="resendCode()">
                  Resend code
                </h5>
                <div class="my-3">
                  <button
                    *ngIf="this.fromPage == 'signup'"
                    class="btn btn-primary btn-block text-light"
                    (click)="submitSignup()"
                  >
                    Send
                  </button>
                  <button
                    *ngIf="this.fromPage == 'reset'"
                    class="btn btn-primary btn-block text-light"
                    (click)="submitReset()"
                  >
                    Send
                  </button>
                  <button
                    *ngIf="this.fromPage == 'mail'"
                    class="btn btn-primary btn-block text-light"
                    (click)="submitMail()"
                  >
                    Send
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#00ff3f" type = "ball-square-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>