 .class-student { 
    position: relative;
    top:50px;
    margin: 100px 0px;
 .header{
   background-color:#E9EAEC;
   width: 100%;
   min-height: 80px;
   border-radius: 20px;
 
   .header-info{
    background-color: white;
    float: left;
    margin:3% 1%;
    padding:3px 10px;
    height: 60px;

    span {
        color:#37B673;
    }

    p {
        font-size:18px;
    }
   }
 }
 
 
nav {
    margin-bottom: 100px ;
 }

 form {
    button:first-child{
        background-color: #D3F9E5;
        color:#37B673
    }
    svg {
        margin-bottom: 3px ;
    }
 }
} 