<div class="container">

  <div class="row">

    <div class="col-xl-12">
      <div
        class="row d-flex   h-100"
      >

      <app-not-found-grade *ngIf="showGarde"></app-not-found-grade>
<div class="col-xl-12" *ngIf="hideGrade">
<h3>Grades</h3>
  <div class="row">
<div class="col-12">
 <div class="row">
  <div class="col-xl-4 col-12" >
    <div class="media mt-4 mb-4">
     <div style="width: 80px; height: 80px; border-radius: 50%; overflow: hidden;" class="mr-3">
      <img  [src]="main.imagePath" alt="Generic placeholder image"style="width:100%">
     </div>
      <div class="media-body">
        <h5 class="mt-1" *ngFor="let item of main.titles_list">{{item}}</h5>

      </div>
    </div>
  </div>
 </div>
</div>
  <div class="col-xl-3 col-6" *ngFor="let MainItem of GradesList " >
    <div class="card  mb-3 mt-2" style="width: 100%;" >
      <div class="card-header d-flex justify-content-between align-items-center btn btn-primary"  (click)="item(MainItem)">
        <p class="grades-card-header-title">{{MainItem.title}}</p>
        <span class="grades-card-header-degree" style="color: #fff"> {{MainItem.total}}%</span>
      </div>
      <div class="card-body ">
        <div class="grades-card-degree-details">
          <ul style="padding-left:10px ;" >
            <li [ngSwitch]="item.evaluation_item_data_type" class="mt-2 mp-2 d-flex justify-content-between align-items-center" *ngFor="let item of MainItem.grade_sub_items">
                <p class="card-text">{{item.evaluation_item_name}} </p>
                <span *ngSwitchCase="2" style="color: rgb(156, 156, 156)">{{item.first_option}}</span>
                <span *ngSwitchCase="1 " style="color: rgb(156, 156, 156)">-</span>
                <span *ngSwitchCase="3 " style="color: rgb(156, 156, 156)"></span>
                <span *ngSwitchCase="4 " style="color: rgb(156, 156, 156)"></span>

            </li>


          </ul>

        </div>

      </div>
      <div class="card-footer d-flex justify-content-between align-items-center ">
        <p>Total </p>
        <span>{{MainItem.grade_main_item_total}}</span>
      </div>
    </div>
  </div>
  <div class="col-xl-12 " *ngIf="outSiding.length">
    <div class="card  mb-3 mt-2" style="width: 100%;" >
      <div class="card-header d-flex justify-content-between align-items-center btn btn-primary">
        <p class="grades-card-header-title">rating out side main items</p>
      </div>
      <div class="card-body ">
        <div class="grades-card-degree-details">
          <ul style="padding-left:10px ;">
            <li [ngSwitch]="item.evaluation_item_data_type" class="mt-2 mp-2 d-flex justify-content-between align-items-center" *ngFor="let item of outSiding ">
                <p class="card-text">{{item.evaluation_item_name}} </p>
                <span *ngSwitchCase="2" style="color: rgb(156, 156, 156)">{{item.first_option}}</span>
                <span *ngSwitchCase="1 " style="color: rgb(156, 156, 156)">-</span>
                <span *ngSwitchCase="3 " style="color: rgb(156, 156, 156)"></span>
                <span *ngSwitchCase="4 " style="color: rgb(156, 156, 156)"></span>
            </li>


          </ul>

        </div>

      </div>

    </div>
  </div>
</div>
</div>
      </div>
      </div>
      </div>
