
    .card{
      border-radius: 10px;
    }
    .card-header {
      border-radius: 10px 10px 0px 0px;
    }
    .card-footer{
      border: none;
    color: #37b673;
      background-color: #37b67338;
      border-radius: 0px 0px 10px 10px;
    }
    .card-header  , .card-body ,.card-footer{
      padding: 10px;
    }
    .card span{
      font-size: 12px;
    }
p{
  margin: 0px;
  padding: 0;
}
.media-body h5:not(:first-child) {
  color: #9B9B9B;
  font-size: 12px;
}
