.color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

ul{
    li{
        opacity: .5;
        cursor: pointer;
        &:focus{
            opacity: 1;
        }
    }
}


::ng-deep.mat-dialog-container{
    width: 500px;
}