$theme-colors: (
  "primary": #37B673,
  "danger":#FF0000,
  "blue" : #6BB4CB,
  "secondary" : #F9F9F9,
);


@import "node_modules/bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr';

// @font-face {
//     font-family: 'Noto Sans Kufi Arabic';
//     font-style: normal;
//     font-weight: 400;
//     src: url(/assets/fonts/custom/ArbFONTS-NotoKufiArabic-Regular.ttf);
//   }
//   @font-face {
//     font-family: 'Noto Sans Kufi Arabic';
//     font-style: normal;
//     font-weight: 700;
//     src: url(/assets/fonts/custom/ArbFONTS-NotoKufiArabic-Bold.ttf);
//   }

  html:lang(ar){
    body,html,mat-form-field{
        // font-family: 'Noto Sans Kufi Arabic', Courier, monospace !important;
        direction: ltr;
        // text-align: right ;
      }
      .toast-error{
        background-color: #f04d64 !important;
        color: #fff !important;
      }
      form{
        mat-form-field{
          width: 100%;
          .mat-form-field-wrapper{
            padding-bottom: 5px !important;
          }
          .password-icons,.show-hide{
            position: absolute;
            left: 5px;
            top: 10px;
            span{
              margin: 3px;
              color: #2b2b2b;
            }
          }
 
        }
        // in login component
        .show-hide{
          left: auto;
          right: 20px ;
          & > span.show:before{
            content: "عرض";
          }
          & > span:before{
            content: "إخفاء";
          }
 
        }
 
        div.errors-container{
          p.error-element{
            font-size: 75%;
            color: #f44336;
            &::before{
              font-family: "Font Awesome 5 Free"; font-weight: 600; content: "\f06a";
              margin-left: 3px;
            }
          }
        }
      }
      
      .page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon .according-menu i{
          transform: rotate(180deg);
      }
     
  }
  .dropzone{
    &.is-invalid{
      border-color: red ;
      margin-bottom: 20px;
      // i{
      //   color: red;
      // }
    }
  }
table{
  a{
    span.icon{
      font-size: 20px;
    }
  }
}

.btn-primary{
background-color: #37B673 !important;
border-color:#37B673 !important;
}


.btn-primary:hover{
  background-color: #37B673 !important;
  border-color:#37B673 !important;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #37B673 !important;
    border-color:#37B673 !important;
  }
  .show-hide span{
     color: #37B673 !important;
  }
 
  .theme-form{
    color: black;
}
 
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left:1.25rem ;
    padding-right:1.25rem ;
  }
} 

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
  background-color :#d3f9e5
}
.mat-calendar-body-selected{
  background-color :#37B673;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white;
}
.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: .25em 0 .25em 0;
}
// .mat-form-field-wrapper{
//   width: 92%;
// }
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button .mat-datepicker-toggle-default-icon, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon{
  color:#37B673;
}
 

.timepicker {
   
  .timepicker__header {
    background-color:#37B673!important;
  }
   
  .clock-face__clock-hand {
    background-color: #37B673 !important;

    &::after {
      background-color: #37B673!important;
    }

    &::before {
      border-color: #37B673!important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: #37B673 !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: #37B673 !important;
  }

 
}
 
.cdk-overlay-container{
  z-index:995;
}

.card .card-header {
  padding:20px;
}

.nav-link{
color:inherit
}
 
.nav-link:hover{
  color:inherit
  }
 