.studentsIcons{
  padding: 10px;
 //  background-color: black;

  a .studentProfileIcon {
     float: left;
     width: 140px;
     height: 180px;
     margin:10px;
     padding:15px;
     border-radius: 10px;
     color:black;
     background-color: white;
       p{
         margin: 8px 0px;
       }
      img {
         border-radius: 50%;
         height:  80px;
         width:  80px;
     }

     
 }
 
}