<div class="">
    <div class=" d-flex justify-content-between col-md-9 offset-3 mb-2">
        <span>{{this.data.full_name}}</span>
        <span>
            <button class="btn text-primary" (click)="setatt()">DONE</button>

        </span>
    </div>
<ul class="pl-0">
    <li *ngFor="let case of allAttendanceCases"
      (click)="setColor(case.id)"

        [value]="case.id"
    class="d-flex align-items-center mb-1"
    
    >
        <div
        class="color"
        [style.background]="case.color"
        ></div>
        {{case.name}}
    </li>
</ul>
</div>
